#  Local .terraform directories
**/.terraform*
# **/packer/
**/certs/*
**/temp/

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# Ignore Backend Files
backend.tf

#Ignore Variable Files
vaultconfig.tf

# Other files that should not be kept
id_rsa*
*.json
*.zip
*.pem
*.sh
!update_groups.sh
!unseal.sh
!cfssl*.sh
!cert.sh
!cleanup.sh
!generate_consul_certs.sh

crash.log
blah.txt
